*{
   
    text-decoration: none;
    list-style-type: none;
}
#bg{
    height: 100vh;
    padding-top:20px ;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1044.679%2c333.274C1075.036%2c332.705%2c1107.543%2c324.847%2c1122.085%2c298.194C1136.21%2c272.305%2c1123.346%2c242.135%2c1108.214%2c216.822C1093.604%2c192.383%2c1073.136%2c169.668%2c1044.679%2c168.711C1014.814%2c167.707%2c989.096%2c186.928%2c973.286%2c212.285C956.348%2c239.452%2c945.807%2c273.621%2c962.077%2c301.194C978.166%2c328.459%2c1013.027%2c333.867%2c1044.679%2c333.274' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M933.11%2c689.3C981.786%2c689.37%2c1022.504%2c655.187%2c1045.499%2c612.285C1067.186%2c571.823%2c1064.473%2c524.515%2c1043.252%2c483.806C1020.06%2c439.317%2c983.267%2c397.881%2c933.11%2c396.691C881.39%2c395.464%2c837.377%2c432.446%2c813.527%2c478.356C791.485%2c520.786%2c797.697%2c570.368%2c821.277%2c611.963C845.233%2c654.222%2c884.533%2c689.23%2c933.11%2c689.3' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M515.775%2c278.838C567.039%2c277.217%2c611.201%2c246.275%2c637.014%2c201.954C663.015%2c157.31%2c667.248%2c104.009%2c644.657%2c57.546C618.692%2c4.144%2c575.13%2c-49.14%2c515.775%2c-47.404C458.045%2c-45.716%2c426.184%2c13.593%2c399.319%2c64.72C374.963%2c111.072%2c355.469%2c164.067%2c380.487%2c210.065C406.393%2c257.696%2c461.582%2c280.552%2c515.775%2c278.838' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M236.5%2c618.288C287.612%2c614.179%2c321.997%2c570.886%2c346.112%2c525.634C368.458%2c483.703%2c379.81%2c434.471%2c356.533%2c393.049C332.85%2c350.904%2c284.755%2c333.509%2c236.5%2c330.576C181.119%2c327.21%2c119.204%2c330.714%2c88.223%2c376.741C54.428%2c426.948%2c59.76%2c494.533%2c91.422%2c546.111C121.709%2c595.449%2c178.794%2c622.928%2c236.5%2c618.288' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M113.192%2c674.11C153.208%2c672.616%2c182.979%2c640.125%2c200.892%2c604.311C216.806%2c572.494%2c216.052%2c535.367%2c197.886%2c504.78C180.114%2c474.857%2c147.993%2c457.017%2c113.192%2c456.647C77.709%2c456.27%2c44.562%2c473.13%2c25.319%2c502.944C4.197%2c535.67%2c-4.419%2c576.659%2c13.37%2c611.31C32.613%2c648.793%2c71.087%2c675.682%2c113.192%2c674.11' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M564.385%2c121.026C589.288%2c120.887%2c605.433%2c97.61%2c617.399%2c75.77C628.758%2c55.038%2c636.641%2c30.738%2c625.181%2c10.061C613.444%2c-11.116%2c588.597%2c-19.851%2c564.385%2c-19.883C540.109%2c-19.915%2c515.198%2c-11.265%2c503.312%2c9.902C491.62%2c30.722%2c498.833%2c55.442%2c510.334%2c76.368C522.399%2c98.32%2c539.336%2c121.166%2c564.385%2c121.026' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}
#head-list #h{
    color:#f3BD04;
}
/* menulist */
#menulist{
    /* display: block; */
    margin: 0 auto;
    padding:50px auto;
    text-align: center;
    display: none;
    position: relative;
    background-color: rgba(27, 26, 26, 0.826);
    /* display: block; */
}

#close-btn{
    position: absolute;
    top: 10px;
    right: 40px;
    margin:auto 50px;
    font-size: 25px;
    /* width: 100%; */
}
#menulist i{
    margin: 40px 10px 30px 10px;
    font-size: 20px;
    color: #f3BD04;
}
#menulist li:first-child{
    margin-top: 40px;
}
#menulist li{
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}

body{
    padding: 0;
    margin: 0;

}

#head-img h4{
    font-size: 20px;
    font-weight: 700;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 20px 200px; */
    height: 70px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(60, 59, 59, 0.749);
    align-items: center;
    margin-top: 0px;

    width: 1000px;
    /* display: block; */
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.806);
}
#head-list li{
    display: inline-block;
    margin: 1px 20px;
    text-transform: capitalize;
    color: white;
    font-weight:600;
    cursor: pointer;
}
#head-list li:first-child{
    color:#f3BD04;
}
#head-list li:hover{
    color: #f3BD04;
    cursor: pointer;
}
#head-btn i{
    display: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
}
#head-list a{
    color: white;
    text-decoration: none;
}
#head-list a:hover{
    color: #f3BD04;
    cursor: pointer;

}
#head-btn{
   border: none;
   /* background-color: #f3BD04; */
   /* padding: 50px 20px; */
}
#btn1{
    background-color: #f3BD04;
    border: none;
    color: white;
    padding: 34px 25px;
    font-size:20px;
}

#hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px auto 40px auto;
}
#hero-1{
    text-align: center;
    margin: 1px 130px 1px 130px;
}
#hero-1 button{
    margin-top: 40px;
     padding: 10px 40px;
     border-radius: 30px;
     border: none;
     background-color: #f3BD04;
}
#hero-1 #h-1{
    font-size: 20px;
    margin: 20px auto;
    /* font-weight: 500px; */

}
#hero-1 #h-2{
    font-size: 50px;
    font-weight: 800;
    color: #060606;
}
#hero-1 #h-3{
    font-size: 45px;
    font-weight: 1000;
    color: #f3BD04;

}
#hero-2{
    display: flex;
    flex: row;
}
#heroimg-1 {
    /* background-image: url('img/per.jpg'); */
    /* width: 200px; */
    width: 180px;
    height: 320px;
    border-radius: 150px;
    margin: 100px 10px 10px 10px;
  
}
#heroimg-1 img{
    /* width: 200px; */
    width: 180px;
    height: 320px;
    border-radius: 150px;

}

#heroimg-2 {
    /* background-image: url('img/per.jpg'); */
    /* width: 200px; */
    width: 180px;

    height: 320px;
    border-radius: 150px;
    margin: 20px 10px 10px 10px;
}
#heroimg-2 img{
    width: 180px;
    height: 320px;
    border-radius: 150px;
}
#heroimg-3 {
    /* background-image: url('img/per.jpg'); */
    /* width: 200px; */
    width: 150px;
    height: 300px;
    border-radius: 150px;
    margin: 100px 10px 10px 10px;
    

  
}
#heroimg-3 img{
    /* width: 200px; */
    width: 150px;
    height: 300px;
    border-radius: 150px;
}

#tech{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 200px;
}
#tech-1{
    margin: 10px  30px 10px 30px;
}
#tech-img{
    height: 250px;
    border-radius: 20px;
    /* margin: 0px 100px; */
}
#tech-2{
    margin: 10px 20px 10px 20px ;
    padding: 10px;
}
#tech-2 #bor{
    width: 60px;
    height: 15px;
    background-color: #f3BD04;
    border-radius: 5px;

}
#tech-2 h3{
  margin-bottom: 40px;
  margin-top: 10px;
}
#tech-2 p{
    margin: 30px auto;
}
#tech-2 #tech-btn
{
    padding: 10px 40px;
    background-color: #f3BD04;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    font-weight: 400;
}

#choose{
   
    text-align: center;
    border-radius: 200px 0 0 0 ;
    margin-top: 100px;
    /* padding: 100px auto; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(232%2c 150%2c 6%2c 0.8509803921568627)'%3e%3c/rect%3e%3cpath d='M18 250L268 0L610 0L360 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M270.6 250L520.6 0L724.6 0L474.6 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M481.20000000000005 250L731.2 0L783.7 0L533.7 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M748.8000000000001 250L998.8000000000001 0L1067.8000000000002 0L817.8000000000001 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M1424 250L1174 0L1043.5 0L1293.5 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1173.4 250L923.4000000000001 0L867.9000000000001 0L1117.9 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M926.8 250L676.8 0L496.79999999999995 0L746.8 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M707.1999999999999 250L457.19999999999993 0L130.19999999999993 0L380.19999999999993 250z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3cpath d='M1293.5211582870572 250L1440 103.52115828705732L1440 250z' fill='url(%23SvgjsLinearGradient1004)'%3e%3c/path%3e%3cpath d='M0 250L146.47884171294268 250L 0 103.52115828705732z' fill='url(%23SvgjsLinearGradient1005)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1004'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1005'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
}
 
 #con {
    padding: 40px;
}
#heading { 
    color: white;
    font-weight: 900;
}

.s-con{
    /* display: none; */
    background-color: white;
    transition: all .5s ease;

}
#choose-step{
    display: flex;
    flex-direction: row;
    margin: 50px 60px 0px 60px;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    align-items: center;

}

#choose-step:hover .steps{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  #choose-step:hover .steps:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }
#choose-step i{
    font-size: 100px;
    margin: 40px auto;
}
.steps{
    margin: 20px 30px;
    height: fit-content;
    padding: 2px 30px;
    border-radius: 50px;
    background-color: white;
    /* transition: all 1s ease; */
    transition:.2s all; 
}
.steps:hover{
    /* padding: 10px; */
 background-color: #f3BD04;
    color: black;
    cursor: pointer;

} 
.s-con{
    transition: all 100ms;
}
.steps:hover .s-con{
    background-color: #f3BD04;
}

/*  */
/* 
.st:hover{
    background-color: #f3BD04;
} */

#review{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* margin: 70px 40px; */
    padding: 50px;
    align-items: center;
    justify-content: center;
    border-radius:  0 0 150px 0;
    background-color: rgb(239, 230, 230);
    /* padding: 20px 200px; */
}
#review-1{
    margin: 10px 100px;
}
#review-1 #bor-3{
    background-color: #f3BD04;
    height: 10px;
    width: 50px;
    margin: 20px 0;
    border-radius: 5px;

}
#review-btn{
    padding: 10px 40px;
    background-color: #f3BD04;
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 30px;
    border: none;
    margin: 30px 0;
}

#review-2{
    height: 300px;
    padding: 30px;
}
#review-img{
    height: 250px;
    border-radius: 30px;
}

/* course */

#course-head{
    margin-top: 100px;
    text-align: center;
}
#bor-4{
    height: 10px;
    width: 50px;
    background-color: #f3BD04;
    margin: 20px auto;
}


/* course */
#course{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: 40px 50px;

    justify-content: center;
}
.course-list{
    width: 300px;
    height: fit-content;
    border-radius: 10px ;
    margin: 20px 40px;
    box-shadow: 1px 1px 6px 2px rgba(103, 99, 99, 0.58);
}
.imglist{
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0 0 ;
}
.con{
    width: 300px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(239, 231, 231);
    border-radius:0 0 10px 10px;
    text-align: center;
}
.con a{
    text-decoration: none;
    color: white;
}
.course-btn{
    background-color: #f3BD04;
    padding: 10px 30px ;
    border-radius: 30px;
    border: none;
}
#change-page{
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f3BD04;
    border: none;
    display: block;
    margin: 20px auto;
}

#change-page a{
    text-decoration: none;
    color: white;
}

/* data section */
#data{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    justify-content: space-around;
    padding: 40px 40px 0 40px;
    align-items: center;
    border-radius: 150px  0 0 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1044.679%2c333.274C1075.036%2c332.705%2c1107.543%2c324.847%2c1122.085%2c298.194C1136.21%2c272.305%2c1123.346%2c242.135%2c1108.214%2c216.822C1093.604%2c192.383%2c1073.136%2c169.668%2c1044.679%2c168.711C1014.814%2c167.707%2c989.096%2c186.928%2c973.286%2c212.285C956.348%2c239.452%2c945.807%2c273.621%2c962.077%2c301.194C978.166%2c328.459%2c1013.027%2c333.867%2c1044.679%2c333.274' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M933.11%2c689.3C981.786%2c689.37%2c1022.504%2c655.187%2c1045.499%2c612.285C1067.186%2c571.823%2c1064.473%2c524.515%2c1043.252%2c483.806C1020.06%2c439.317%2c983.267%2c397.881%2c933.11%2c396.691C881.39%2c395.464%2c837.377%2c432.446%2c813.527%2c478.356C791.485%2c520.786%2c797.697%2c570.368%2c821.277%2c611.963C845.233%2c654.222%2c884.533%2c689.23%2c933.11%2c689.3' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M515.775%2c278.838C567.039%2c277.217%2c611.201%2c246.275%2c637.014%2c201.954C663.015%2c157.31%2c667.248%2c104.009%2c644.657%2c57.546C618.692%2c4.144%2c575.13%2c-49.14%2c515.775%2c-47.404C458.045%2c-45.716%2c426.184%2c13.593%2c399.319%2c64.72C374.963%2c111.072%2c355.469%2c164.067%2c380.487%2c210.065C406.393%2c257.696%2c461.582%2c280.552%2c515.775%2c278.838' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M236.5%2c618.288C287.612%2c614.179%2c321.997%2c570.886%2c346.112%2c525.634C368.458%2c483.703%2c379.81%2c434.471%2c356.533%2c393.049C332.85%2c350.904%2c284.755%2c333.509%2c236.5%2c330.576C181.119%2c327.21%2c119.204%2c330.714%2c88.223%2c376.741C54.428%2c426.948%2c59.76%2c494.533%2c91.422%2c546.111C121.709%2c595.449%2c178.794%2c622.928%2c236.5%2c618.288' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M113.192%2c674.11C153.208%2c672.616%2c182.979%2c640.125%2c200.892%2c604.311C216.806%2c572.494%2c216.052%2c535.367%2c197.886%2c504.78C180.114%2c474.857%2c147.993%2c457.017%2c113.192%2c456.647C77.709%2c456.27%2c44.562%2c473.13%2c25.319%2c502.944C4.197%2c535.67%2c-4.419%2c576.659%2c13.37%2c611.31C32.613%2c648.793%2c71.087%2c675.682%2c113.192%2c674.11' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M564.385%2c121.026C589.288%2c120.887%2c605.433%2c97.61%2c617.399%2c75.77C628.758%2c55.038%2c636.641%2c30.738%2c625.181%2c10.061C613.444%2c-11.116%2c588.597%2c-19.851%2c564.385%2c-19.883C540.109%2c-19.915%2c515.198%2c-11.265%2c503.312%2c9.902C491.62%2c30.722%2c498.833%2c55.442%2c510.334%2c76.368C522.399%2c98.32%2c539.336%2c121.166%2c564.385%2c121.026' fill='rgba(220%2c 136%2c 1%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
#data-con{
   width: 400px;
}
#data-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
   width: 60%;
   margin:-0px auto 10px auto;
}
#data-img{
    margin-top: -165px;
}
#data-con h1{
    color: #644f08;
    font-weight:500;
    margin: 20px 1px;
    font-size: 45px;
}
.list-item i{
     font-size: 50px;
     margin-bottom: 10px;
     color: #603827; 
}
.list-item h4{
    font-size: 35px;
    font-weight: 700;
    color: #644f08;
    font-weight: 700;
}

#latest {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 100px;
    flex-wrap: wrap; 

     
}
.bor-6{
    background-color: #f3BD04;
    height: 10px;
    width: 50px;
    border-radius: 10px;
    margin: 10px 1px;
}
#newz-sec {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 30px;
    flex-direction: row;   
}
.latest-div-1 , .latest-div-2{
    margin: 20px 30px;
}
.con-sec{
    width: 300px;
}
#footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 70px;
    background-color: black;
}
#footer-div-1{
  color: white;
}
.bor-7{
    width: 50px;
    height: 10px;
    background-color: #f3BD04;
    border-radius: 10px;
}
#footer-div-2
{
/* margin-top: 20px; */
  display: flex;
  flex-direction: column;
}
#inp{
    outline: none;
    border: none;
    padding: 18px 10px;
    width: 300px;
    background-color: rgb(40, 38, 38);
    color: white;
}
#btn-f{
    border: none;
    outline: none;
    padding: 16px 60px;
    border-radius: 0 20px 20px 0;
    background-color: #f3BD04;
    color: white;
    font-size: 16px;
    position: absolute;
}

/* media  */
@media (max-width:1024px){
    #hero-1{
        margin: 1px 30px;
    }
    #header{
        justify-content: space-around;
        width: 90%;
    }
    #head-list li{
        display: none;
    }
    #btn1{
       padding: 28px 25px;
    }
    #head-btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1px -50px;
        /* margin: 1p; */
    }
    #head-btn i{
        display: inline;
        margin-left: 40px;
        padding: 1px 20px;
    }
    #btn1{
        margin: 1px 10px;
    }
    #tech{
        padding: 20px 50px;
    }
    #review{
        padding: 20px 30px;
    }
    #tech-1{
           margin: 10px 40px;
    }
    #tech-2
    {
        margin: 10px 40px;
    }
    #tech-img{
        height: 250px;
    }
    #footer{
        justify-content: space-around;
        margin: 20px;
    }
    #footer-div-1{
        margin: 20px ;
    }
    #footer-div-2{
        margin: 20px ;
    }
    #inp{
        width: 200px;
    }
    #btn-f{
        padding:16px 20px;
        /* width: 50px; */
    }
    
#choose-step{
    flex-wrap: wrap;
}
  
}


@media (max-width:860px){
    #heroimg-1{
        width: 100px;
        height: 300px;
    }
    #heroimg-1 img{
        height: 300px;
        width: 100px;
    }
    #heroimg-2{
        width: 100px;
        height: 300px;
    }
    #heroimg-2 img{
        height: 300px;
        width: 100px;
    }
    #heroimg-3{
        width: 100px;
        height: 300px;
    }
    #heroimg-3 img{
        height: 300px;
        width: 100px;
    }
}

@media (max-width:768px){

    #bg{
        height: 700px;
    }
    #hero{
        flex-direction: column;
    }
    #tech{
        flex-direction: column;
    }
    #tech-2{
        margin: 30px;
    }
    #choose{
        height: fit-content;
        padding: 20px;
    }

    #choose-step{
        flex-direction: column;
        /* padding-left:150px; */
        /* padding: 40px; */
        justify-content: center;
        display: block;
        margin: 10px auto;

   
    }
    .super-box{
        display: block;
        margin: 10px auto;
        justify-content: center;

    }
    #review{
        flex-direction: column;
    }
    #review-1{
        margin: 30px;
    }
    #latest{
        flex-direction: column;
    }
    #newz-sec{
        display: flex;
        flex-direction: column;
    }
    #hero{
        display: grid;
        grid-template: 
        'hero2'
        'hero1'
        ;
        margin-top: 140px;
    }
    #heroimg-1{
        margin: 50px 20px;
        height: 296px;
        width: 171px;
        
    }
    #heroimg-1 img{
        height: 296px;
        width: 171px;
    }
    #heroimg-2{
        margin: 50px 20px;
        height: 296px;
        width: 171px;
        margin-top: -40px;
    }
    #heroimg-2 img{
        height: 296px;
        width: 171px;
    }
    #tech{
        margin-top: 40px;
    }
    #tech-img{
        margin-top: 300px;
    }
    #hero-1{
        grid-area: hero1;
    }
    #hero-2{
        grid-area: hero2;
    }
}

@media (max-width:660px){
    #data{
        padding: 100px;
        margin-top:100px ;
    }
    #data-img{
        display: none;
    }
    #data-list{
        margin-top: 30px;
        width: 100%;
        /* color: black; */
    }
    .list-item h4{
        color: black;
    }
    #review-2{
        padding: 0;
    }
}

@media (max-width:435px){
    #btn1{
        margin: 0;
        display: none;
    }
    #hero-2{
        justify-content: center;
    }
    #hero{
        margin-top: 70px;
    }
    #heroimg-1{
        margin: 50px auto;
        height: 296px;
        width: 171px;
    }
    #heroimg-1 img{
        height: 296px;
        width: 171px;
    }
    #heroimg-2{
        display: none;
    }
    #tech{
        padding: 0px 20px;
        margin-top: 150px;
    }
    #tech-img{
        height: 200px;
        margin-top: 150px;
    }

    #review-img{
        height: 200px;

    }
    #course{
        margin: 40px 10px;
    }
    #data{
        padding: 50px;
        
    }
    #data-con{
        width: 90%;
    }
    #data-list{
        flex-direction: column;
    }#newz-sec{
        justify-content: center;
        margin: 20px 0;
    }
     #choose{
        margin-top: 60px;
     }
    .latest-div-1{
        margin: 20px 10px;
    }
    .latest-div-2{
        margin: 20px 10px;
    }
    /* .container{
        height: 300px;
        width: 300px;
     }
     .box{
         height: 300px;
         width: 300px;
     } */
}

@media (max-width:375px){
    #head-btn i{
        margin-left: 0;
    }
    #choose{
        padding: 10px;
    }
    .steps{
        margin:10px;
    }
}

@media (max-width:425px){
    #hero{
        margin-top: 0;
    }
    #heroimg-2{
        display: none;
    }
    #heroimg-1{
        margin: 50px auto;
        height: 296px;
        width: 171px;
    }
    #heroimg-1 img{
        height: 296px;
        width: 171px;
    }
    #tech{
        margin-top: 20px;
    }
    #choose-step{
        padding: 10px 20px;
        margin: 10px 5px;
    }
    .container{
       height: 200px;
       width: 200px;
    }
    .box{
        height: 200px;
        width: 200px;
    }
}

@media (max-width:356px){
    #tech{
        margin-top: 60px;
    }
}
